/* ========== MULTIPLE ========== */

/*
.VPContent .content-container,
.VPSidebar,
.VPDocAsideOutline,
.floating-player {
    border: 1px solid color-mix(in srgb, var(--vp-c-divider) 30%, transparent);
    box-shadow: inset 0 0 0 1px #fff, 3px 3px 0 rgba(0, 0, 0, .06) !important;
}
*/

/* ========== CONTENT CONTAINER ========== */

/*
.VPContent .content-container {
    background: transparent !important;
    background: var(--vp-c-bg-soft);
    box-shadow: 0 8px 20px rgba(0, 0, 0, .1);
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
}
*/

.VPDoc .content:not(.VPDocAside .content) {
    padding: 0 !important;
    padding-bottom: 0 !important;
}

.VPContent .content-container h1 {
    font-size: 23px !important;
    background: none;
    border-left: none;
    padding: 0px 0px;
}

@media (min-width: 960px) {
    .VPDoc.has-sidebar.has-aside {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (max-width: 768px) {
    .VPContent .content-container {
        padding: 12px 11px !important;
        margin: 0 -14px !important;
        width: calc(100% + 28px) !important;
        max-width: none !important;
        border-radius: 0 !important;
    }
}

.VPHome {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.VPDoc {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.VPDoc,
.VPDoc .content,
.VPDoc .container {
    padding-bottom: 6px !important;

}

.vp-doc hr {
    margin: 2.5rem 0;
}

/*
.vp-doc hr {
    margin-top: 3rem;
    margin-bottom: 2rem;
}
*/

/* ========== PREV/NEXT NAVIGATION ========== */

.VPDocFooter .prev-next .prev,
.VPDocFooter .prev-next .next {
    border-radius: 0 !important;
}