/* ========== CONTENT CONTAINER ========== */

.VPContent .content-container {
    background: #fffafc;
    border: 1px solid #e7d4dd;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .1);
    padding: 24px;
}

.VPContent .content-container,
.VPSidebar,
.VPDocAsideOutline,
.floating-player {
    border: 1px solid #e6d7e3;
    box-shadow: inset 0 0 0 1px #fff, 3px 3px 0 rgba(0, 0, 0, .06) !important;
}

/* Remove homepage gap */
.VPHome {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}