/* ========== HEADINGS ========== */

h1,
h2,
h3 {
    background: var(--vp-c-bg);
    border-left: 4px solid var(--vp-c-divider);
    padding: 0px 12px;
    border-top: 0 !important;
}

.VPContent .content-container h1 {
    font-size: 23px !important;
}

h2>* {
    margin-left: 13px;
}