/* ========== NAVBAR ========== */

.VPLocalNav,
.VPNavBar:not(.top),
.VPNavBar.has-sidebar.top,
.VPLocalNav.has-sidebar {
    background-color: transparent !important;
    backdrop-filter: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
}

/* ========== NAVBAR ========== */

.VPNavBar .content-body {
    background-color: transparent !important;
    backdrop-filter: none !important;
    box-shadow: none !important;
    border-bottom: none !important;
}

.VPNavBar .divider {
    display: none !important;
}

.VPNavBar .VPNavBarAppearance {
    display: none !important;
}

/* ========== NAVBAR HAMBURGER ========== */

.VPNavBarHamburger {
    display: none !important;
}

/* ========== VPNAVBAR TITLE ========== */

.VPNavBarTitle.has-sidebar .title {
    border-bottom: none !important;
}

.VPNavBarTitle .logo {
    width: 100px !important;
    height: auto !important;
    position: relative;
    top: 12px;
    margin-right: 12px;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, .9)) drop-shadow(2px 2px 0 rgba(0, 0, 0, .08));
    transition: transform 0.15s ease;
    pointer-events: none !important;
}

.VPNavBarTitle .title {
    margin-top: 20px;
    margin-left: 0px;
    max-width: 70px;
}

@media (max-width: 768px) {
    .VPNavBarTitle .title {
        margin-top: -4px;
        margin-left: -4px;
        font-size: 0.9rem;
        max-width: 50px;
    }
}

/* ========== CURTAIN ========== */

.curtain,
.VPTheme .curtain {
    background-color: var(--vp-c-bg-soft) !important;
}

@media (min-width: 769px) {

    .curtain,
    .VPTheme .curtain {
        min-height: 110px !important;
        height: 110px !important;
        overflow: visible !important;
        background-color: var(--vp-c-bg-soft) !important;
    }
}