/* ========== NAVBAR ========== */

.VPLocalNav,
.VPNavBar:not(.top),
.VPNavBar.has-sidebar.top,
.VPLocalNav.has-sidebar {
    background-color: transparent !important;
    backdrop-filter: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
}

/* ========== NAVBAR ========== */

.VPNavBar .content-body {
    background-color: transparent !important;
    backdrop-filter: none !important;
    box-shadow: none !important;
    border-bottom: none !important;
    gap: 8px !important;
}

.VPNavBar .divider {
    display: none !important;
}

/* ========== NAVBARAPPEARANCE ========== */

body:has(.VPHome) .VPNavBarAppearance {
    display: none !important;
}

/* ========== NAVBAR HAMBURGER ========== */

.VPNavBarHamburger {
    display: none !important;
}

.VPNavBarTitle.has-sidebar .title {
    border-bottom: none !important;
}

@media (min-width: 1440px) {
    .VPNavBar.has-sidebar .content {
        padding-right: 0 !important;
    }
}

.VPNavBarTitle {
    opacity: 0;
    transition: opacity 0.15s ease, transform 0.15s ease;
    will-change: opacity, transform;
    margin-top: 25px
}

.VPNavBarTitle.visible {
    opacity: 1;
    transform: translateY(0px);
}

.VPNavBarTitle.faded {
    opacity: 0;
    transform: translateY(-8px);
}

.VPNavBarTitle .logo {
    width: 100px !important;
    height: auto !important;
    position: relative;
    top: 0px;
    margin-right: 12px;
    transition: transform 0.15s ease;
    pointer-events: none !important;
    margin-left: 0px;
    max-width: 40px;
    outline: 1px solid color-mix(in srgb, var(--vp-c-divider) 100%, transparent);
}

body:has(.VPHome) .VPNavBarTitle {
    display: none !important;
}


@media (max-width: 768px) {
    .VPNavBarTitle .title {
        margin-top: -38px;
        margin-left: -4px;
        font-size: 0.9rem;
        max-width: 50px;
    }

    .VPLocalNavOutlineDropdown {
        display: none !important;
    }
}

/* ========== CURTAIN ========== */

.curtain,
.VPTheme .curtain {
    background-color: var(--vp-c-bg-soft) !important;
    visibility: hidden;
}

@media (min-width: 769px) {

    .curtain,
    .VPTheme .curtain {
        min-height: 110px !important;
        height: 110px !important;
        overflow: visible !important;
        background-color: var(--vp-c-bg-soft) !important;
    }
}