/* ========== SIDEBAR ========== */

.VPSidebar {
    background-color: var(--vp-c-bg-soft) !important;
    margin: 15px 0 !important;
    margin-right: 10px !important;
    padding-top: 45px !important;
    padding-bottom: 24px !important;
    /*
    box-shadow: 0 8px 20px rgba(0, 0, 0, .1) !important;
    */
}

#VPSidebarNav *,
#VPSidebarNav>.group {
    border-top: 0 !important;
    min-height: 0px;
    padding-top: 0px;
}

#VPSidebarNav .group .VPSidebarItem>.item>.text {
    display: flex !important;
    align-items: center !important;
    gap: 10px !important;
}

#VPSidebarNav .group .items .VPSidebarItem {
    border-left: 5px solid color-mix(in srgb, var(--vp-c-divider) 100%, transparent) !important;
    border-radius: 0 !important;
    margin-left: 0 !important;
    padding-left: 10px !important;
    transition: all 0.1s ease-out;
}

#VPSidebarNav .group .items .VPSidebarItem .items .VPSidebarItem {
    border-left: none !important;
    padding-left: 0 !important;
}

#VPSidebarNav .group .VPSidebarItem>.item>.text.active,
#VPSidebarNav .group .VPSidebarItem>.item>.text:hover,
#VPSidebarNav .group .VPSidebarItem>.item .link .text,
#VPSidebarNav .group .VPSidebarItem>.item .link .text.active {
    display: flex !important;
    align-items: center !important;
    gap: 10px !important;
    /* 
    padding-bottom: 2px; 
    */
}

#VPSidebarNav .group .VPSidebarItem:last-child {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.VPSidebar .caret-icon {
    color: var(--vp-c-text-1) !important;
}

.VPDocAsideOutline {
    background-color: var(--vp-c-bg-soft) !important;
    margin-right: 8px !important;
}

.VPDocAsideOutline li {
    margin-bottom: 0px !important;
}

.VPDocAsideOutline .outline-marker {
    background-color: var(--vp-c-divider) !important;
    width: 1px !important;
}

.VPDocAsideOutline .content {
    border-left: 5px solid color-mix(in srgb, var(--vp-c-divider) 100%, transparent);
}

.outline-link {
    line-height: 26px !important;
    font-size: 14px !important;
    padding: 2px 0 !important;
    display: block !important;
}

.VPDoc .aside {
    padding-left: 20px !important;
}

.aside-curtain {
    display: none !important;
}

@media (max-width: 960px) {

    .VPBackdrop,
    .VPSidebarBackdrop {
        background: transparent !important;
    }
}