/* ========== TABLES ========== */

.vp-doc table {
    width: 100%;
    table-layout: fixed;
}

.vp-doc .table-container,
.vp-doc div[class*="table"] {
    width: 100% !important;
    max-width: 100% !important;
}

.vp-doc table th {
    background: var(--vp-c-bg-soft);
}

.vp-doc table tr:nth-child(even) {
    background: var(--vp-c-bg);
}

.vp-doc table tr:nth-child(odd) {
    background: var(--vp-c-bg-soft);
}

.directory-table-wrapper img {
    width: 200px;
    max-width: 200px;
    height: auto;
    border-radius: 0px;
}

@media (max-width: 768px) {

    .vp-doc table th,
    .vp-doc table td {
        padding: 12px 16px !important;
        font-size: 0.85rem !important;
        white-space: nowrap !important;
    }

    .vp-doc .table-container,
    .vp-doc div[class*="table"] {
        overflow-x: auto !important;
        -webkit-overflow-scrolling: touch !important;
    }
}