/* ========== TABLES ========== */

.vp-doc .table-container,
.vp-doc div[class*="table"] {
    width: 100% !important;
    max-width: 100% !important;
    overflow-x: auto !important;
}

.vp-doc table th {
    background: var(--vp-c-bg-soft);
}

.vp-doc table tr:nth-child(even) {
    background: #fff8fb;
}

.vp-doc table tr:nth-child(odd) {
    background: var(--vp-c-bg-soft);
}

.directory-table-wrapper img {
    width: 200px;
    max-width: 200px;
    height: auto;
    border-radius: 0px;
}

@media (max-width: 768px) {
    .vp-doc table {
        font-size: 0.5rem !important;
        min-width: 320px !important;
        display: table !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    .vp-doc table th,
    .vp-doc table td {
        padding: 2px 4px !important;
        font-size: 0.5rem !important;
    }

    .directory-table-wrapper img {
        width: 30px !important;
        max-width: 30px !important;
    }
}