/* ========== TYPOGRAPHY & SPACING ========== */

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    line-height: 1.4;
}

li {
    margin-bottom: 0.25rem;
}

/* ========== RESPONSIVE TEXT SIZES ========== */

@media (max-width: 768px) {
    .VPContent .content-container {
        font-size: 14px;
    }

    .VPContent .content-container p,
    .VPContent .content-container .custom-block * {
        line-height: 1.2;
    }
}