:root {
    --vp-sidebar-width: 280px;
    --vp-layout-max-width: 1490px;
    --vp-c-brand-1: #f5a8c7;
    --vp-c-brand-2: #fff7fa;
    --vp-c-bg: #fff5fa;
    --vp-c-bg-soft: #fffdfd;
    --vp-c-text-1: #864363;
    --vp-c-text-2: #6e2e4d;
    --vp-c-divider: #f0d9e5;
    --vp-code-block-bg: var(--vp-c-bg);
}